@model CapaEntidad.Departament

@{
    ViewBag.Title = "Departamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Departamento: Información</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Siglas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Siglas)
        </dd>

    </dl>
</div>
<div>
    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary"> Editar</a> |
    <a href="@Url.Action("Index")" class="btn btn-success"> Volver</a>
</div>
